<footer>
    <div style="display: flex; justify-content: space-between">
        <div class="left-footer-info-container">
            <div>ИП Жуков Сергей Дмитриевич</div>
            <div>ОГРНИП: 325784700226506</div>
            <div>zhukovsd@gmail.com</div>
        </div>
        <div class="right-footer-info-container">
            <div>
                <a href="/legal-docs/privacy-policy.pdf" target="_blank">Политика сбора и обработки персональных данных</a>
            </div>
            <div>
                <a href="/legal-docs/oferta.pdf" target="_blank">Договор оферты</a>
            </div>
        </div>
    </div>
</footer>