footer .left-footer-info-container div {
    text-align: left;
}

footer .right-footer-info-container div {
    text-align: right;
}

article figure.todo-caption-italic figcaption p {
    font-style: italic;
}
